@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-white: #FFFFFF;
    --primarty-black: #171615;
    --primary-gold1: #EDBD00;
    --primary-gold2: #FFDF00;
    --body-color: #52504E;
    --primary-bronze1: #7E3C24;
    --primary-bronze2: #D09172;
    --primary-bronze3: #EFBBA3;
    --primary-gradient: linear-gradient(57deg, #C1963C, #F4E07A);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

body {
    font-family: "Roboto", serif;
    font-size: 16px;
    color: var(--primary-white);
    font-weight: 400;
}

.col100 {
    max-width: 100%;
    flex: 0 0 100%;
    padding: 0 15px;
}

.col50 {
    max-width: 50%;
    flex: 0 0 50%;
    padding: 0 15px;
}

.col20 {
    max-width: 20%;
    flex: 0 0 20%;
    padding: 0 15px;
}

.icon {
    padding-left: 5px;
    /* font-size: 20px; */
}

/* Navlink and logo section */
.navcontainer {
    max-width: 1470px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    position: relative;
    padding: 10px 0;
    top: 0;
    left: 0;
    right: 0;
}

.brand a {
    width: 153px;
    display: block;
    margin-left: 150px;
    margin-right: 130px;
    padding-top: 15px;
}

.navlinks {
    display: flex;
}

.navlinks li a {
    padding-right: 47px;
    text-transform: uppercase;
    color: var(--body-color);
}

.navlinks li a:hover {
    color: var(--primary-bronze2);
}

.navbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cmn-btn {
    display: inline-block;
    /* margin-right: 150px; */
    padding: 15px 20px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 700;
    background: linear-gradient(57deg, #F4E07A, #C1963C);
    color: var(--primarty-black);
    text-transform: uppercase;
    transition: 0.5s all ease;
    box-shadow: 0px 3px #0200090e;
}

.cmn-btn:hover {
    background: linear-gradient(57deg, #C1963C, #F4E07A);
}

.nav-btn .cmn-btn:hover {
    color: var(--primary-white);
}


#check,
.navlinks .menu-btn i {
    display: none;
}

#check:checked~.navlinks {
    right: 0;
}

/* main banner section */
.banner-img {
    position: relative;
    width: 100%;
    background: url("images/Bannerimg.png") no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 768px;
    display: flex;
    align-items: center;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.banner-heading {
    position: relative;
    padding-left: 10px;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 13px;
}

.banner-heading::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 35px;
    left: 0;
    margin-right: 5px;
    background-color: var(--primary-gold1);
}

.banner-content h1 {
    line-height: 1;
    font-size: 100px;
    min-width: 600px;
    /*set for text break to next line */
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-content h1 span {
    color: var(--primary-bronze2);
}

.banner-content p {
    min-width: 400px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.btn-pvideo {
    display: flex;
}

.btn-pvideo .cmn-btn {
    margin-right: 25px;
}

.play-video {
    display: inline-block;
    text-transform: uppercase;
    color: var(--primary-white);
    font-size: 15px;
}

.play-video i {
    position: relative;
    top: 5px;
    background: linear-gradient(-81deg, #C1963C, #F4E07A);
    background-clip: text;
    color: transparent;
    font-size: 30px;
    border-radius: 50%;
    border: 10px solid var(--primarty-black);
}

.btn-pvideo .cmn-btn:hover {
    color: var(--primary-white);
}

/* our program */
.our-program {
    position: relative;
    background: var(--primary-white);
    width: 100%;
    min-height: 680px;
    margin: 60px 0;
    color: #171615;
    display: flex;
}

.program-details .heading {
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    font-weight: normal;
}

.heading .color {
    display: inline-block;
    font-weight: 200;
    margin-right: 10px;
    color: var(--primarty-black);
}

.heading span {
    color: var(--primary-bronze2);
    font-weight: 800;
}

.program-details p {
    max-width: 740px;
    margin: 0 auto 30px;
    text-align: center;
    color: var(--body-color);
}

.line {
    position: relative;
    width: 70px;
    height: 5px;
    margin: 25px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: #DED2C6;
}

.line::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 7px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background: var(--primary-bronze1);
}

.row .col33 {
    max-width: 33.33%;
    flex: 0 0 33.33%;
    padding: 0 3px;
}

.card-content span {
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 30px 0 15px 0;
}

.card-content p {
    line-height: 1.5;
    padding-right: 53px;
    margin-bottom: 20px;
}

.content-right-btn a {
    text-transform: uppercase;
    background-image: linear-gradient(-81deg, #C1963C, #F4E07A);
    color: transparent;
    background-clip: text;
    padding-right: 5px;
}

.content-right-btn i {
    font-size: 15px;
    background: linear-gradient(-81deg, #C1963C, #F4E07A);
    color: var(--primarty-black);
    border-radius: 50%;
    padding: 8px 10px;
}

.content-right-btn i:hover {
    box-shadow: 0px 3px #02000926;
}


/* about us */
.about-us {
    position: relative;
    width: 100%;
    min-height: 700px;
    background-color: #FFF7F3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-text {
    position: absolute;
    font-size: 100px;
    font-weight: bold;
    right: -150px;
    color: #F9EFEA;
    transform: rotate(90deg);
    text-transform: uppercase;
    user-select: none;
}

.col40 {
    max-width: 40%;
    flex: 0 0 40%;
}

.container .col40 img {
    width: 100%;
}

.col60 {
    max-width: 60%;
    flex: 0 0 60%;
    padding: 0 73px;
}

.about-details {
    max-width: 519px;
}

.about-details .heading {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: normal;
}

.col60 .about-details p {
    line-height: 1.5;
    color: var(--body-color);
    margin-bottom: 15px;
}

.about-details .line {
    left: 10%;
}

.about-details .line::before {
    left: 0;
}

.about-btn .cmn-btn {
    color: var(--primary-white);
    background: var(--primary-bronze2);
}

.about-btn .cmn-btn:hover {
    color: var(--primarty-black);
}



/* why choose us */
.choose-us {
    position: relative;
    width: 100%;
    min-height: 370px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 90px 0;
}

.choose-us-details .heading {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: normal;
    text-align: center;
}

.col16 {
    max-width: 16.33%;
    flex: 0 0 16.33%;
    padding: 15px 0;
}

.col16 .group1 {
    position: relative;
    bottom: 25px;
    left: 8px;
}

.col16 .group2 {
    position: relative;
}

.col16 .group3 {
    position: relative;
    bottom: 25px;
    left: -7px;
}

.col16 .group4 {
    position: relative;
    bottom: 0px;
    left: -13px;
}

.col16 .group5 {
    position: relative;
    bottom: 25px;
    left: -22px;
}

.col16 .group6 {
    position: relative;
    top: -2px;
    left: -30px;
}

.col16 .frame {
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.down-line {
    position: absolute;
    left: 90px;
    bottom: 20px;
}

.down-line span {
    position: absolute;
    margin-top: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    text-align: center;
    color: #171615;
}

.up-line {
    position: absolute;
    left: 90px;
    top: 20px;
}

.up-line span {
    position: absolute;
    margin-top: -35px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    text-align: center;
    color: #171615;
}



/* Created */
.created {
    width: 100%;
    position: relative;
    background: url("images/created.png") no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 695px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.created::before {
    position: absolute;
    content: "";
    background: var(--primarty-black);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.9;
}

.created .background-text2 {
    position: absolute;
    font-size: 110px;
    font-weight: bold;
    left: -150px;
    opacity: 0.4;
    color: var(--body-color);
    transform: rotate(-90deg);
    text-transform: uppercase;
    user-select: none;
}

.created-container {
    max-width: 1530px;
    margin-left: 200px;
    opacity: 0.9;
}

.created-details {
    display: flex;
    justify-content: space-between;
    margin-right: 150px;
}

.created-details .heading {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: normal;
    text-align: center;
}

.created-details .color {
    color: var(--primary-white);
}

.slider {
    display: flex;
    overflow-x: hidden;
    /* scroll-behavior: smooth; */
    padding: 10px 0;
    /* scrollbar-width: none; */
}

.slide {
    max-width: 22%;
    flex: 0 0 22%;
    padding: 0 15px;
}

.slide p {
    margin-top: 10px;
    /* margin-right: 50px; */
    max-width: 230px;
    font-size: 18px;
}

.btn {
    background: none;
    border: 2px solid var(--primary-white);
    color: var(--primary-white);
    font-size: 24px;
    cursor: pointer;
    padding: 8px 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.btn:hover {
    color: var(--primary-bronze2);
    border: 2px solid var(--primary-bronze2);
}


/* our-stories */
.our-stories {
    position: relative;
    background: var(--primary-white);
    width: 100%;
    min-height: 450px;
    margin: 60px 0;
    color: #171615;
    display: flex;
}

.stories-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 30px; */
}

.stories-slider {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    gap: 5px;
    /* scrollbar-width: none; */
}

.stories-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 15px;
}

/* .stories-item a {
    display: inline-block;
    position: relative;
    margin-right: 10px;
} */

.stories-button {
    background: none;
    border: 2px solid var(--primary-bronze2);
    color: var(--primary-bronze2);
    font-size: 24px;
    cursor: pointer;
    padding: 5px 8px;
    margin: 0 10px;
    border-radius: 50%;
}

.stories-button:hover {
    border: 2px solid var(--primary-white);
    color: var(--primary-white);
    background-color: var(--primary-bronze2);
}


/* lets face it */
.letsfaceit {
    position: relative;
    background: var(--primary-white);
    width: 100%;
    min-height: 600px;
    /* margin-top: 60px; */
    color: var(--body-color);
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.containerfluid {
    max-width: 1600px;
    margin: 0 auto;
}

.front {
    position: relative;
    z-index: 1;
}

.background {
    position: absolute;
    left: 0;
    bottom: 50px;
}

.letsfaceit-details {
    position: relative;
    max-width: 550px;
    top: 100px;

}

.letsfaceit-details .heading {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: normal;
}

.letsfaceit-details .line {
    left: 7%;
}

.letsfaceit-details .line::before {
    left: 22%;
}

.letsfaceit-details p {
    line-height: 1.5;
}

.achievements {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.achievements img {
    margin: 0 35px 20px 0;
}

.achievements-text h3 {
    font-size: 18px;
    color: var(--primarty-black);
    margin-bottom: 5px;
}

.achievements-text p {
    color: var(--body-color);
}

.achievements-line {
    width: 100%;
    height: 1px;
    background-color: #EDEDED;
    margin: 25px 0;
}



/* footer */
.footer {
    width: 100%;
    position: relative;
    background-color: #0D0D0D;
    min-height: 380px;
}

.footer-upper {
    justify-content: space-between;
    padding: 65px 0 40px 0;
}

.footer-brand-logo figure a {
    display: inline-block;
    max-width: 125px;
}

.social-media-icons {
    position: relative;
    top: 20px;
}

.social-media-icons a {
    display: inline-block;
    color: var(--primary-white);
}

.social-media-icons a:nth-child(-n + 3) {
    padding-right: 8px;
}

.social-media-icons i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding: 13px;
    border-radius: 50%;
    background-color: #333333;
}

.social-media-icons a i:hover {
    background-image: linear-gradient(-76deg, #C1963C, #F4E07A);
}


.links p {
    text-transform: capitalize;
    background-image: linear-gradient(-76deg, #C1963C, #F4E07A);
    color: transparent;
    background-clip: text;
    font-weight: 600;
}

.linksline {
    width: 52px;
    height: 1px;
    background-color: var(--primary-white);
    margin: 20px 0;
}

.links-list {
    display: flex;
}

.links-list ul a {
    color: var(--primary-white);
    display: block;
    line-height: 2;
    text-transform: capitalize;
}

.links-list ul a:hover {
    background-image: linear-gradient(-76deg, #C1963C, #F4E07A);
    color: transparent;
    background-clip: text;
}

.links-list i {
    padding-right: 15px;
}

.footer-lower {
    position: relative;
    border-top: 1px solid #F8EDF9;
}

.footer-lower .row {
    text-align: center;
    padding: 15px 0;
}


@media (max-width: 1199px) {
    .brand a {
        margin: 0;
    }

    .banner-content p {
        min-width: 250px;
    }
}


@media (max-width:1024px) {
    .col60 {
        padding: 0 18px;
    }

    .col60 .about-details p {
        font-size: 13px;
        max-width: 420px;
    }

    .created-container {
        margin-left: 145px;
    }

    .slide {
        flex: 0 0 33%;
        max-width: 33%;
    }

    .front {
        left: 50px;
    }
}

@media (max-width:991px) {
    .navlinks {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* max-width: 320px; */
        width: 100%;
        background: linear-gradient(-76deg, #C1963C, #F4E07A);
        right: -100%;
        top: 80px;
        height: 100vh;
        /* height: calc(100vh - 14%); */
        transition: 0.6s ease-in-out;
        padding: 15px 0;
        z-index: 1;
    }

    .navlinks li a {
        display: inline-block;
        text-align: center;
        margin: 25px 0;
        font-size: 18px;
    }

    .navlinks li a:hover {
        color: var(--primary-bronze2);
    }

    .menu-btn {
        position: absolute;
        right: 15px;
    }

    .navbox {
        justify-content: space-between;
        margin: 0 auto;
    }

    .menu-btn i {
        position: relative;
        font-size: 25px;
        color: #0D0D0D;
    }

    .nav-btn {
        margin-right: 40px;
    }

    #check:checked ~ .menu-btn i::before {
        content: "\f00d";
    }

    .created-container {
        margin-left: 190px;
    }

    .front {
        left: 80px;
    }
}

@media (max-width:768px) {
    .banner-img {
        min-height: 680px;
    }

    .banner-content h1 {
        min-width: 0;
    }

    .our-program-row .col33 {
        max-width: 50%;
        flex: 0 0 50%;
        text-align: center;
        padding-bottom: 15px;
    }

    .our-program-row .last-content {
        max-width: 100%;
        /* Makes the last item take full width */
        flex: 0 0 100%;
        text-align: center;
    }

    .card-content p {
        padding-right: 0;
    }

    .about-us-row .col40,
    .about-us-row .col60 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 60%;
        flex: 0 0 60%;
        text-align: center;
    }

    .about-us {
        padding: 15px 0;
    }

    .about-details .line {
        left: 50%;
    }

    .about-details .line::before {
        left: 50%;
    }

    .choose-us-row {
        text-align: center;
    }

    .choose-us-row .col16 {
        max-width: 33.33%;
        flex: 0 0 33.33%;
    }

    .choose-us-row .down-line,
    .up-line {
        left: 0;
        right: 0;
    }

    .created .background-text2 {
        left: -180px;
    }

    /* created */
    .created-details {
        margin-right: 175px;
    }

    .created-custom .line {
        left: 10%;
    }

    .created-custom .line::before {
        left: 0;
    }

    .created-container {
        margin-left: 260px;
    }

    .stories-item {
        max-width: 50%;
        flex: 0 0 50%;
    }

    .letsfaceit-row .col50 {
        max-width: 100%;
        flex: 0 0 100%;
        text-align: center;
    }

    .background {
        bottom: 40%;
    }

    .letsfaceit-details {
        max-width: none;
        top: 0;
        margin: 20px 0;
    }

    .letsfaceit-details .line {
        left: 50%;
    }

    .letsfaceit-details .line::before {
        left: 50%;
    }

    .achievements img {
        margin-left: 20px;
    }

    .footer-upper {
        padding-bottom: 0;
    }

    .footer-upper .col20 {
        max-width: 100%;
        flex: 0 0 100%;
        text-align: center;
        padding: 0 0 40px 0;
    }

    .links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:570px) {
    .banner-img {
        min-height: 550px;
    }

    .banner-heading::before {
        height: 25px;
    }

    .banner-heading {
        font-size: 22px;
        letter-spacing: 8px;
    }

    .banner-content h1 {
        font-size: 60px;
    }

    .banner-content p {
        font-size: 13px;
    }

    .btn-pvideo div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .our-program-row .col33 {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .background-text {
        font-size: 80px;
    }

    .choose-us-row .col16 {
        max-width: 50%;
        flex: 0 0 50%;
    }


    .created .background-text2 {
        font-size: 80px;
        left: -130px;
    }

    .created-container {
        margin-left: 350px;
    }

    .slide p {
        font-size: 15px;
    }

    .created-details {
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        margin-right: 0;
    }

    .created-details .heading {
        font-size: 44px;
    }

    .front {
        left: 20px;
    }
}

@media (max-width:431px) {

    .navlinks li a{
        font-size: 16px;
    }
    
    .nav-btn .cmn-btn {
        display: none;
    }

    .banner-row .col50,
    .btn-pvideo div {
        max-width: 100%;
        flex: 0 0 100%;
        text-align: center;
        justify-content: center;
    }

    .btn-pvideo div {
        flex-direction: row;
    }

    .banner-heading::before {
        display: none;
    }

    .banner-heading {
        font-size: 21px;
        letter-spacing: 4px;
    }

    .program-details .heading,
    .about-details .heading,
    .choose-us-details .heading,
    .created-details .heading,
    .program-details .heading,
    .letsfaceit-details .heading {
        font-size: 30px;
    }

    .card-content span {
        font-size: 18px;
    }

    .card-content p,
    .letsfaceit-details p,
    .achievements-text p {
        font-size: 14px;
    }

    .nav-btn .call {
        /* display: none; */
        visibility: visible;
    }

    .choose-us-row .col16 {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .created-container {
        margin-left: 450px;
    }

    .stories-item {
        max-width: 100%;
        flex: 0 0 100%;

    }

    .btn {
        font-size: 10px;
    }

    .stories-button {
        font-size: 10px;
    }

    /* .slide {
        flex: 0 0 50%;
        max-width: 50%;
    } */

    .front {
        left: 0;
    }

}

@media (max-width:375px) {
    .banner-img {
        min-height: 500px;
    }



    .program-details .heading,
    .about-details .heading,
    .choose-us-details .heading,
    .created-details .heading,
    .program-details .heading,
    .letsfaceit-details .heading {
        font-size: 25px;
    }

    .card-content span,
    .achievements-text h3 {
        font-size: 15px;
    }

    .created-container {
        margin-left: 400px;
    }

    .slide {
        max-width: 50%;
        flex: 0 0 50%;
    }

    .slide p,
    .program-details p {
        font-size: 12px;
    }

    .card-content p,
    .letsfaceit-details p,
    .achievements-text p {
        font-size: 12px;
    }

    .links .links-list,
    .footer-lower span {
        font-size: 13px;
    }
}

@media (max-width:320px) {
    .btn-pvideo .cmn-btn {
        font-size: 13px;
        margin-right: 15px;
    }

    .btn-pvideo .play-video {
        font-size: 13px;
    }

    .about-btn .cmn-btn {
        font-size: 13px;
    }
}